<% provide(:title, "MusicLiveApp")%>

<header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner container">
      <div class="row">
        <div class="col-lg-8 d-none d-lg-block">
          <h1 class="display-4"></h1>
        </div>
      </div>
    </div>

  </div>
</header>
