/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require_self
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

body {
  background-color: #333;
  color: #fff;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}


#home-section {
  background: image-url('home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0,0,0,0.7);
  }
  .home-inner {
    padding-top: 150px;
  }
  .card-form {
    opacity: 0.8;
  }
  .fas {
    color: #008ed6;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
  }
}

// ユーザー詳細ページ //

#user-show-header {
  padding-top: 150px;
  .user-image {
    width: 100%;
    height: 100%;
  }
  .bg-black {
    color: #fff;
    background-color: #000;
  }
  .port-item {
    width: 30%;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

@media(min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}

.debug_dump {
  clear: both;
  float: left;
  color: #fff;
  width: 100%;
  margin-top: 45px;
}
